<!DOCTYPE html>
<html>

<head>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<link rel="stylesheet" href="~/css/footer.css">

</head>

<body>
<footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <div class="cta-text">
                                <h4>Đa dạng</h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <div class="cta-text">
                                <h4>Tiện lợi</h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <div class="cta-text">
                                <h4>Nhanh chóng</h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="#"><img src="~/images/1.jpg" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Mua sách online tại BookShop, bạn được tận hưởng chính sách hỗ trợ miễn phí đổi trả hàng, giao hàng nhanh – tận nơi – miễn phí, thanh toán linh hoạt - an toàn, đặc biệt..</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Theo dõi</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Liên kết</h3>
                            </div>
                            <ul>
                                <li>
                            <a  asp-area="Product" asp-controller="ViewProduct" asp-action="Index">Sản phẩm</a>
                                    
                                </li>
                                <li>
                            <a asp-area="Blog" asp-controller="ViewPost" asp-action="Index">Tin tức</a>
                                    
                                </li>
                                <li>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Giới thiệu</a>
                                    
                                </li>
                                <li>
                                    <a asp-area="Contact" asp-controller="Contact" asp-action="SendContact">
                                Liên hệ</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Đăng ký</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Đừng quên đăng ký để cập nhật thông tin mới nhất.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2023, All Right Reserved <a href="#">ASP .NET MVC</a></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
