<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>

@* body, html {height: 700px} *@
.bgimg {
  background-image: url('https://cdn.pixabay.com/photo/2016/01/19/01/42/library-1147815_960_720.jpg');
  min-height: 550px;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    2023
  </div>
  @* <div class="w3-display-middle" style="margin-top: -20px;"></div>
    <h1 class="w3-jumbo w3-animate-top" style="color: rgb(53, 168, 11);">BookShop!</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">35 days left</p>
  </div> *@
 
</div>

</body>
</html>
