@{
    ViewData["Title"] = "Home Page";
}

<partial name="_AlertMessage" />

<div class="text-center index">
    <h1 class="display-2">Welcome to <strong style="color: green;">BOOKSHOP</strong></h1>
    <p style="font-style: italic;">Một cuốn sách hay cho ta một điều tốt, một người bạn tốt cho ta một điều hay.</p>
</div>
<partial name="_TrangChu" />