@{
    ViewData["Title"] = "Privacy Policy";
}
@* <h1>@ViewData["Title"]</h1> *@
<style>
    .social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
</style>

<div class="bg-light">
  <div class="container py-3">
    <div class="row h-100 align-items-center py-3">
      <div class="col-lg-6">
        <h1 class="display-4">Về BookShop</h1>
        <p class="lead text-muted mb-0">Mua sách online tại BookShop, bạn được tận hưởng chính sách hỗ trợ miễn phí đổi trả hàng, giao hàng nhanh – tận nơi – miễn phí, thanh toán linh hoạt - an toàn, đặc biệt.</p>
        
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>



<div class="bg-light">
  <div class="container">
    @* <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div> *@

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><i class="fa fa-envelope fa-5x" style="color: green;" aria-hidden="true" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></i>
          <h5 class="mb-0">Email</h5><span class=" text-uppercase">hoanvu2661@gmail.com</span>
          
        </div>
      </div>

       <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><i class="fa fa-phone fa-5x" style="color: #FF8C00;" aria-hidden="true" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></i>
          <h5 class="mb-0">Điện thoại</h5><span class=" text-uppercase">0365326221</span>
          
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><i class="fa fa-map-marker fa-5x" style="color: red;" aria-hidden="true" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></i>
          <h5 class="mb-0">Địa điểm</h5><span class="text-uppercase">459 Tôn Đức Thắng, Hòa Khánh Nam, Liên Chiểu, Đà Nẵng</span>
          
        </div>
      </div>

     

      

    </div>
  </div>
</div>
